<footer class="mt-auto text-white-50">
    <p>&copy; 2020 by Mirzayev Orzu 
        <a href='https://www.freepik.com/vectors/background' class="nav-link">freepik.com</a>
        <a href='https://www.freepik.com/photos/cover'>Cover photo created by onlyyouqj - www.freepik.com</a></p>
</footer>