<%- layout('layouts/boilerplate') %> 
<h2>Never stop learning</h2>
<p class="lead"> Wake up with determination. Go to bed with satisfaction. <br> Decipline yourself, and try
    your best to achieve your goals <br>
</p>
<a href="/register" class="btn btn-lg btn-secondary font-weight-bold" style="background-color: #e18928;">Get
    started</a>
<%- include('partials/flash') %>

